@using Inv.WebUI.Resources
@{
    /**/

    ViewBag.Title = @SystemResource.Men_AccTrPaymentNote;
    Layout = "~/Views/Shared/Layout.cshtml";
}
<style>
    .class_btn_drop {
        background-color: #c8c8c8;
        padding: 6px 10px 2px 10px;
    }

    .dropdown-item:hover {
        cursor: pointer !important;
        background-color: #c8c8c8 !important;
    }

    .pading_3 {
        padding: 0px 50px 0px !important
    }

    .display_none {
        display: none !important;
    }

    .textalign {
        text-align: center
    }

    .textcentr_pading {
        padding-right: 29px !important;
    }

    .src-btn {
        border-radius: 18px !important;
    }

    .dropdown-menu {
        border-radius: 11px;
    }

    .disabledDiv {
        pointer-events: none;
        opacity: 0.4;
    }



    /*#e41b1b*/

</style>

<script>
    $(document).ready(function () {

        // Initialize select2
        $("#txt_D_CashBox").select2();

        //$("#txt_ReceiptNote").select2();
        //$("#txt_ID_beneficiary").select2();



        // Read selected option
        $('#but_read').click(function () {
            var username = $('#txt_D_CashBox option:selected').text();
            var userid = $('#txt_D_CashBox').val();

            //var username = $('#txt_ReceiptNote option:selected').text();
            //var userid = $('#txt_ReceiptNote').val();

            //var username = $('#txt_ID_beneficiary option:selected').text();
            //var userid = $('#txt_ID_beneficiary').val();



            $('#result').html("id : " + userid + ", name : " + username);
        });
    });
</script>

<link href="~/Style_design/Stylecheckbox.css" rel="stylesheet" />


<div class="col-lg-12 margingred  borderred">
    @*<label id="lepReserved" class="col-lg-12 labeltitel "><span id="spanlepReserved" class="ifontowsam fa fa-caret-left"></span>     </label>*@
    <div class="container-fluid">
        <div class="row">
            <div id="informtionReserved" class="col-lg-12 margingred" style="margin-bottom: 15px;">

                
                <div id="id_div_Add">
                    <div class="col-lg-12">


                        <label class="col-lg-1 col-xs-4  marginstenig pading_lep  pading_2 textcentr_pading"> @SystemResource.App_Cashbox   </label>
                        <div class="col-lg-2 col-xs-8">
                            <select id="txt_D_CashBox" name="" class="form-control  text_Display">
                                <option value="Null"> @SystemResource.App_Cashbox  </option>
                            </select>
                        </div>

                        <label class="col-lg-1 col-xs-4  marginstenig pading_lep  pading_2 textcentr_pading">  @SystemResource.App_FromDate   </label>
                        <div class="col-lg-2 col-xs-8">
                            <input type="date" class="form-control input-sm addable editable" name="GosiJoinDate" id="txtDateFrom" style="font-size: 16px !important;">
                        </div>



                        <label class="col-lg-1 col-xs-4  marginstenig pading_lep  pading_2 textcentr_pading">@SystemResource.App_ToDate  </label>
                        <div class="col-lg-2 col-xs-8">
                            <input type="date" class="form-control input-sm addable editable" name="GosiJoinDate" id="txtDateTo" style="font-size: 16px !important;">
                        </div>


                        <div class="col-lg-3 col-xs-8">
                            <button type="button" class="btn btn-primary" id="btnShow">
                                <span class="glyphicon "></span>@SystemResource.App_Show
                            </button>
                            <button type="button" class="btn btn-primary" id="btnAdd">
                                <span class="glyphicon"></span>@SystemResource.App_Add
                            </button>
                            <div class="btn-group">
                                <label type="button" class="btn btn-warning">طباعة</label>
                                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-hand-down"></span>
                                </button>
                                <div class="dropdown-menu" role="menu" style="border-radius:15px">
                                    <div class="col-lg-12">
                                        <button style="width:100%" id="btnPrint" type="button" class="  btn btn-custon-four btndefolt primary-btn-cl"><span class="adminpro-icon adminpro-paint-roller"></span>           @SystemResource.App_Print      </button>
                                    </div> 
                                    <div class="col-lg-12">
                                        <button style="width:100%" id="btnPrintTrview" type="button" class="  btn btn-custon-four btndefolt primary-btn-cl"><span class="adminpro-icon adminpro-paint-roller"></span>           @SystemResource.Print_Report      </button>
                                    </div>

                                    <div class="col-lg-12">
                                        <button style="width:100%" id="btnPrintTrPDF" type="button" class="marginbtn btn btn-custon-four btndefolt primary-btn-cl"><span class="adminpro-icon adminpro-download-arrow"></span>   @SystemResource.Download_PDF     </button>
                                    </div>

                                    <div class="col-lg-12">
                                        <button style="width:100%" id="btnPrintTrEXEL" type="button" class="marginbtn btn btn-custon-four btndefolt primary-btn-cl"><span class="adminpro-icon adminpro-download-arrow"></span> @SystemResource.Download_EXCEL   </button>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <label class="col-lg-1 col-xs-4  marginstenig pading_lep  pading_2 textcentr_pading" style="margin-right: 1px;">@SystemResource.App_Drainage_Type  </label>
                        <div class="col-lg-2 col-xs-8">
                            <select id="txt_ReceiptNote" name="" class="form-control  text_Display">
                                <option value="Null"> @SystemResource.App_Drainage_Type   </option>
                            </select>
                        </div>

                        <label class="col-lg-1 col-xs-4  marginstenig pading_lep  pading_2 textcentr_pading"> @SystemResource.App_beneficiary  </label>
                        <div class="col-lg-2 col-xs-8">
                            <select id="txt_ID_beneficiary" name="" class="form-control  text_Display " disabled>
                                <option value="Null"> @SystemResource.App_beneficiary </option>
                            </select>
                        </div>



                        <label class="col-lg-1 col-xs-4  marginstenig pading_lep  pading_2 textcentr_pading" style="margin-right: 1px;"> @SystemResource.App_Status </label>
                        <div class="col-lg-2 col-xs-8">
                            <select id="txt_Status" name="" class="form-control  text_Display">
                                @*<option value="Null">  @SystemResource.App_ChoStatus  </option>*@
                                <option value="All">  @SystemResource.App_Everybody   </option>
                                <option value="1">  @SystemResource.App_Certified  </option>
                                <option value="0">  @SystemResource.App_Not_Certified  </option>
                            </select>
                        </div>



                    </div>
                    <div id="id_ReportGrid" class="col-lg-12  margingred  borderred " style="display: none;">
                        <div class="col-lg-3 col-xs-8" style="margin-bottom: 4px;margin-right: 27px;margin-top: 9px;">
                            <input id="searchbutmemreport" name="" type="text" class="form-control  text_Display" placeholder="بحث : بالرقم   ">
                        </div>
                        <div class="col-lg-15 ">
                            <table id="ReportGrid"></table>

                        </div>
                        <h4 style="text-align: center;font-weight: bold;color: #0088c7;">@SystemResource.App_DoubleDisplay</h4>
                    </div>
                </div>

                <div id="DivMassage" class="col-lg-12  margingred  borderred display_none">

                    <h4 id="Text_Massage" style=""> @SystemResource.App_Message </h4>

                </div>

                <div id="Div_control" class="col-lg-12 margingred  borderred" style="height: 351px;margin-bottom: 19px;margin-top: 20px;display: none;">



                    <div class="col-lg-12 " style="padding-top: 3px;margin-top: 13px;">

                        <div class="col-lg-12 " style="margin-bottom: -37px">

                            <div class="col-lg-8 col-xs-8">
                            </div>
                            <div class="col-lg-2">

                                <button type="button" class="btn btn-warning display_none" id="btnback">
                                    <span class="glyphicon glyphicon-backward"></span> @SystemResource.App_back
                                </button>

                                <button id="btnsave" type="button" class="btn btn-success display_none">
                                    <span class="glyphicon glyphicon-save"></span> @SystemResource.App_save
                                </button>

                            </div>
                            <div class="col-lg-1">
                                <button type="button" class="btn btn-primary" id="btnPrintTransaction">
                                    <span class="glyphicon glyphicon-edit"></span>طباعة
                                </button>
                            </div>

                            <div class="col-lg-1">
                                <button type="button" class="btn btn-primary" id="btnedite">
                                    <span class="glyphicon glyphicon-edit"></span> @SystemResource.App_Update
                                </button>
                            </div>
                        </div>

                        <label class="col-lg-1 col-xs-4  marginstenig pading_lep  pading_2">@SystemResource.App_Number</label>
                        <div class="col-lg-2 col-xs-8">
                            <input id="txt_CODE" disabled name="TrNo" type="number" class="form-control  text_Display" placeholder="الرقم">
                        </div>
                        <div class="col-lg-1 col-xs-8">
                        </div>

                        <label class="col-lg-1 col-xs-4  marginstenig pading_lep  pading_2 textcentr_pading"> @SystemResource.App_date </label>
                        <div class="col-lg-2 col-xs-8">
                            <input type="date" class="form-control input-sm addable editable" name="TrDate" id="txtDateNew" style="font-size: 16px !important;">
                        </div>


                        <label class="col-lg-1 col-xs-4  marginstenig pading_lep  pading_2 textcentr_pading">@SystemResource.App_Certified</label>

                        <div class="col-xs-1">
                            <input type="checkbox" id="chkStatus" />
                        </div>
                    </div>





                    <div class="col-lg-12 " style="padding-top: 3px;">


                        <label class="col-lg-1 col-xs-4  marginstenig pading_lep  pading_2"> @SystemResource.App_Drainage_Type  </label>
                        <div class="col-lg-2 col-xs-8">
                            <select id="txt_ReceiptNoteNew" name="" class="form-control  text_Display">
                                <option value="Null">  @SystemResource.App_Drainage_Type    </option>
                            </select>
                        </div>
                        <div class="col-lg-1 col-xs-8">
                        </div>
                        <label class="col-lg-1 col-xs-4  marginstenig pading_lep  pading_2 textcentr_pading"> @SystemResource.App_beneficiary  </label>
                        <div class="col-lg-2 col-xs-8">
                            <select id="txt_ID_beneficiaryNew" name="" class="form-control  text_Display " disabled>
                                <option value="Null"> @SystemResource.App_beneficiary </option>
                            </select>
                        </div>


                        <label class="col-lg-1 col-xs-4  marginstenig pading_lep  pading_2 textcentr_pading">  @SystemResource.App_Balanc </label>
                        <div class="col-lg-2 col-xs-8">
                            <input id="txt_Openbalance" disabled name="" type="text" class="form-control  text_Display" placeholder="@SystemResource.App_Balanc">
                        </div>


                    </div>
                    <div class="col-lg-12 " style="padding-top: 3px;">
                        <label class="col-lg-1 col-xs-4  marginstenig pading_lep  pading_2">   @SystemResource.App_Amount  </label>
                        <div class="col-lg-3 col-xs-8">
                            <input id="txt_Amount" disabled name="Amount" type="text" class="form-control  text_Display" placeholder=" @SystemResource.App_Amount  ">
                        </div>


                        <label class="col-lg-1 col-xs-4  marginstenig pading_lep  pading_2 textcentr_pading">@SystemResource.App_Cash  </label>

                        <div class="col-lg-2 col-xs-8">
                            <input id="txt_CashAmount" disabled name="CashAmount" type="number" class="form-control  text_Display" placeholder="@SystemResource.App_Cash ">
                        </div>

                        <label class="col-lg-1 col-xs-4  marginstenig pading_lep  pading_2 textcentr_pading">@SystemResource.App_Card </label>

                        <div class="col-lg-2 col-xs-8">
                            <input id="txt_CardAmount" disabled name="CardAmount" type="number" class="form-control  text_Display" placeholder="@SystemResource.App_Card ">
                        </div>

                    </div>
                    <div class="col-lg-12 " style="padding-top: 3px;">
                        <label class="col-lg-1 col-xs-4  marginstenig pading_lep  pading_2 "> @SystemResource.App_Drainage_Description</label>
                        <div class="col-lg-3 col-xs-8">
                            <input id="txt_ReceiptDesc" disabled name="ReceiptDescA" type="text" class="form-control  text_Display" placeholder=" @SystemResource.App_Drainage_Description">
                        </div>


                        <label class="col-lg-1 col-xs-4  marginstenig pading_lep  pading_2 textcentr_pading">   @SystemResource.App_Registration_Number  </label>
                        <div class="col-lg-2 col-xs-8">
                            <input id="txt_VoucherNo" disabled name="VoucherNo" type="text" class="form-control  text_Display" placeholder="@SystemResource.App_Registration_Number">
                        </div>


                    </div>
                    <div class="col-lg-12">
                        <label class="col-lg-1 col-xs-4  marginstenig pading_lep  pading_2">    @SystemResource.App_Notes </label>
                        <div class="col-lg-6 col-xs-8">
                            <textarea id="txt_note" disabled name="Remarks" type="text" class="form-control   " placeholder="@SystemResource.App_Notes"></textarea>
                        </div>

                    </div>



                    <div class="col-lg-12 ">

                        <label class="col-lg-1 col-xs-4  marginstenig pading_lep  pading_2">@SystemResource.App_Cashbox  </label>
                        <div class="col-lg-2 col-xs-8">
                            <select id="txt_Receiving_Fund" name="" class="form-control  text_Display">
                                <option value="Null"> @SystemResource.App_Cashbox  </option>
                            </select>
                        </div>

                    </div>


                    <div class="col-lg-12">
                        <label class="col-lg-1 col-xs-4  marginstenig pading_lep  pading_2  borderbottom "> @SystemResource.App_Create </label>
                        <input id="txtCreatedBy" name="CreatedBy" type="text" disabled class="col-lg-1 col-xs-4  marginstenig pading_lep  pading_2  borderbottom ">
                        <input id="txtCreatedAt" name="CreatedAt" type="text" disabled class="col-lg-2 col-xs-4  marginstenig pading_lep  pading_2 style_borderbottom">
                        <div class="col-lg-2"> </div>
                        <label class="col-lg-1 col-xs-4  marginstenig pading_lep  pading_2  borderbottom "> @SystemResource.App_Update </label>
                        <input id="txtUpdatedBy" name="UpdatedBy" type="text" disabled class="col-lg-1 col-xs-4  marginstenig pading_lep  pading_2  borderbottom">
                        <input id="txtUpdatedAt" name="UpdatedAt" type="text" disabled class="col-lg-2 col-xs-4  marginstenig pading_lep  pading_2 style_borderbottom">


                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $('#lepnotifications').on('click', function () {
        $('#divnotifications').toggleClass('showdiv');
        $('#spanlepnotifications').toggleClass('fa-caret-left');
        $('#spanlepnotifications').toggleClass('fa-caret-down');

    });

</script>
@Scripts.Render("~/Bundles/ClientApp")
<script src="~/ClientApp/JsGrid.js"></script>
@*<script src="~/ClientApp/FundMovement/AccTrReceiptNote.js"></script>*@
<script src="~/ClientApp/FundMovement/AccTrPaymentNote.js"></script>